header {
  background-color: pink;
  max-width: 960px
  padding: 5px
}

.column-1 {
  background-color: red;
  max-width: 46%;
  padding: 5px;
  display: inline-block;
  vertical-align: text-top;
}

.column-2 {
  background-color: blue;
  max-width: 46%;
  padding: 5px;
  display: inline-block;
  vertical-align: text-top;
  }

footer {
  background-color: orange;
  max-width: 960px;
  margin-top: 5px;
}